@model WebFilmOnline.Models.Promotion

<h2>Chi tiết khuyến mãi</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Discount:</strong> @Model.DiscountPercent %</p>
<p><strong>Start:</strong> @Model.StartDate.ToShortDateString()</p>
<p><strong>End:</strong> @Model.EndDate.ToShortDateString()</p>

<a href="/Promotion/Edit/@Model.PromotionId">Chỉnh sửa</a>
