@model IEnumerable<WebFilmOnline.Models.Promotion>
@{
    ViewData["Title"] = "Promotions";
}
<h2>Promotion List</h2>
<a href="/Promotion/Create">+ Add New</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Discount</th>
            <th>Valid From</th>
            <th>Valid To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.DiscountPercent %</td>
                <td>@p.StartDate.ToShortDateString()</td>
                <td>@p.EndDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
