@model IEnumerable<WebFilmOnline.Models.ProductCategory>

@{
    ViewData["Title"] = "Quản lý Danh mục Phim";
}

<h1>Quản lý Danh mục Phim</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm Danh mục Mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tên Danh mục</th>
            <th>Mô tả</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-warning btn-sm">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>