@model List<WebFilmOnline.Models.Package>

<h2>Chọn gói muốn nâng cấp</h2>
<ul>
    @foreach (var pkg in Model)
    {
        <li>
            @pkg.Name - @pkg.Price VND
            <a href="/Upgrade/Confirm?packageId=@pkg.PackageId">Nâng cấp</a>
        </li>
    }
</ul>
